{% extends 'base.html.twig' %}

{% block title %}<title>Inscription</title>{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="formLogin">
<div class="loginForm">
    <h1 class="connexion">Remplisez ce formulaire</h1>
        {{ form_start(registrationForm) }}
        <div class="formLabel">
        {{ form_row(registrationForm.email) }}
        </div>
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.password, { label: 'Password' }) }}
        {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn loginButton">Inscription !</button>
    {{ form_end(registrationForm) }}
</div>
    </div>
{% endblock %}
