<div class="allProductForm">
<div class="productForm">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="buttonSave">
    <button class="btn btn-primary w-25">{{ button_label|default('Save') }}</button>
    <a href="{{ path('product_index') }}">Annuler</a>
    </div>
{{ form_end(form) }}
</div>
</div>
